<app-navbar></app-navbar>
<div class="custome-row mt-5">
  <div class="container-fluid text-center">
    <h3 class="text-primary text-uppercase font-weight-bold mb-5">Manage User </h3>
    <hr class="mb-5">
    <button type="button" class="btn btn-primary btn-lg" (click)="getStudent()">Manage Student</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-lg" (click)="getAdmin()">Manage Admin</button>
  </div>

  <br />

  <div class="container-fluid">
    <div *ngIf="exist">
    <div *ngIf="isstudent; then student else admin">

    </div>
    <ng-template #student>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <td colspan="4">
              <button type="button" class="btn btn-primary" [routerLink]="['/register', 'muser']">Add New User</button>
            </td>
            <td colspan="2">
              <input type="search" [(ngModel)]="term" class="form-control" placeholder="&#xF002; Search" style="font-family: Arial, FontAwesome" />
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Education</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let s of sdata | filter:term">
            <tr>
              <td>{{ s.name }}</td>
              <td>{{ s.email }}</td>
              <td>{{ s.mobile }}</td>
              <td>{{ s.gender }}</td>
              <td>{{ s.edu }}</td>
              <td class="text-center">
                <button class="btn btn-success btn-sm" [routerLink]="['/update',s.id]">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>&nbsp;
                <button class="btn btn-danger btn-sm" (click)="deleteStud(s.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-template>
    <ng-template #admin>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <td colspan="4">
              <button type="button" class="btn btn-primary" routerLink="/register">Add New User</button>
            </td>
            <td colspan="2">
              <input type="search" [(ngModel)]="term" class="form-control" placeholder="&#xF002; Search" style="font-family: Arial, FontAwesome" />
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Education</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let a of adata | filter:term">
            <tr>
              <td>{{ a.name }}</td>
              <td>{{ a.email }}</td>
              <td>{{ a.mobile }}</td>
              <td>{{ a.gender }}</td>
              <td>{{ a.edu }}</td>
              <td class="text-center">

                <button class="btn btn-success btn-sm" [routerLink]="['/update',a.id]">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>&nbsp;
                <button class="btn btn-danger btn-sm" (click)="deleteAdmin(a.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-template>
  </div>
  </div>

</div>